# Backend
SUBDOMAIN=dailydb
PORT=3004
JWT_SECRET=replace-me-with-a-secure-secret
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/your-db
NEW_RELIC_LICENSE_KEY=your-new-relic-license
NEW_RELIC_BACKEND_APP_NAME=dailydb-backend
NEW_RELIC_LOG_LEVEL=info
NEW_RELIC_NO_CONFIG_FILE=true
LOGFLARE_SOURCE_ID=
LOGFLARE_API_KEY=
LOGFLARE_ENDPOINT=https://api.logflare.app/logs

# Frontend
API_URL=http://localhost:3004
FRONTEND_PORT=8180
NEW_RELIC_FRONTEND_APP_NAME=dailydb-frontend
FRONTEND_HOST=0.0.0.0
FRONTEND_OPEN=false
